{% extends 'power/base.html' %}

{% block title %}dashboard{% endblock title %}



{% block body %}

<script>
function search(val){
    
    $.ajax({
        method : "POST",
        url:"{% url 'power:search' %}",
        data : {
            "search":val,
            "sector":"{{sector}}",
            "state":"{{state}}",
            "csrfmiddlewaretoken": '{{ csrf_token }}',
        },
        success : function(result){
            {% comment %} console.log(result); {% endcomment %}
            
            var x = document.getElementById("tbody1");
            var i=0;
            text="";
            for(; i<result.length; i++){
                
                row =   "<tr>\n"+
                        "    <th>"+(i+1)+"</th>\n"+
                        "    <td>"+result[i]['name']+"</td>\n"+
                        "    <td>"+result[i]['sector']+"</td>\n"+
                        "    <td>"+result[i]['state']+"</td>\n"+
                        "    <td>"+"28 July, 2012"+"</td>\n"+
                        '    <td><a target="__blank" class="my-btn2" href="/power/get_data/'+result[i].id+'/">See Details</a></td>\n'+
                        "</tr>\n";
                text +=row;
            }
                
            x.innerHTML = text;
            {% comment %} console.log(result); {% endcomment %}
        }
    });
}
</script>


{% if message %}
{% if type %}
<div id="alert" style="position: fixed;right: 20px;top: 40px;" class="alert alert-success" role="alert">
  {{message}}
</div>
{% else %}
<div id="alert" style="position: fixed;right: 20px;top: 40px;" class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endif %}
{% endif %}

<div class="content-wrapper">
<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="row">
                    <form class="col-12">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="keyword" id="keyword" placeholder="Search keyword" onkeyup="search(this.value)">
                            </div>
                            <div class="col-md-6">
                                <button type="button" data-toggle="modal" data-target="#filtermodal" class="btn btn-dark" id="applyfilter">Apply Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row row-content" id="searchresult">
                    <div class='col-12 col-sm-12'>
                             <div class='table-responsive'>
                                 <table class='table table-striped'>
                                     <thead class='thead-dark'>
                                         <tr>
                                             <th>&nbsp;</th>
                                             <th>Name of the Board</th>
                                             <th>Sector</th>
                                             <th>State</th>
                                             <th>Last Modified</th>
                                             <th>Details</th>
                                         </tr>
                                     </thead>
                                     <tbody id="tbody1">
                                        
                                        {% for board in all_boards %}
                                         <tr>
                                             <th>{{forloop.counter}}</th>
                                             <td>{{board.name}}</td>
                                             <td>{{board.sector}}</td>
                                             <td>{{board.state}}</td>
                                             <td>28 July, 2012</td>
                                             <td><a target="__blank" class="my-btn2" href="/power/get_data/{{board.id}}/">See Details</a></td>
                                         </tr>
                                        {% endfor %}

                                     </tbody>

                                     
                                 </table>
                             </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div> 
</div>


{% endblock body %}


{% block custom_header_right %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'power:govt_dash' %}">{{request.session.name}} <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item dropdown user-icon">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><i class="fas fa-user"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a href="{% url 'power:edit_profile' %}" class="dropdown-item">Edit Profile</a>
        <a href="#" data-toggle="modal" data-target="#adddatamodal" class="dropdown-item">Add Data</a>
        <a href="{% url 'power:govt_dash' %}" class="dropdown-item">View History</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'power:logout' %}"class="dropdown-item">Logout</a>
    </div>
</li>
<li><i class="fas fa-caret-down pt-3 pl-2"></i></li>

{% endblock custom_header_right %}



{% block apply_filter %}
<!-- Apply Filter Modal -->
<div class="modal fade" id="filtermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">APPLY FILTER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'power:govt_dash' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label style="padding: 0px;" for="state" class="col-12"><h4>State</h4></label>
                <select name="state" id="state" class="form-control" value="all">
                    <option value="all">All States</option>
                    {% for state in all_states %}
                        <option value="{{state}}">{{state}}</option>
                    {% endfor %}
                    
                </select>
            </div>
            <div class="form-group">
                <label style="padding: 0px;" for="sector" class="col-12"><h4>Sector</h4></label>
                <select name="sector" id="sector" class="form-control" value="555">
                    <option value="555">All Sector</option>
                    {% for sector in all_sectors %}
                        <option value="{{sector.id}}">{{sector.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary my-btn"><i class="fas fa-chevron-right"></i></button>
        </form>
        <p class="mt-3">
          Unable to find your board?
          <a href="#" data-toggle="modal" data-target="#contactmodal" data-dismiss="modal">Email US</a>
      </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#alert").fadeOut(3000);
</script>
<script type="text/javascript">
  $("#alert").fadeOut(3000);
  var state="";
  var sector="";
  window.onload = function() {
    state = "{{state}}";
    sector = "{{sector}}";
    document.getElementById("state").value = state;
    document.getElementById("sector").value = sector;
  }
</script>

{% endblock apply_filter %}