.changes {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
}


textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
textarea {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h3 {
	text-align: center;
}

.green-border {
	border: 1px solid #6BDFB8;
	padding: 1rem;
	border-radius: 5px;
}

.red-border {
	border: 1px solid #F58883;
	padding: 1rem;
	border-radius: 5px;
}