	<script>
		function get_rows(val){
			console.log("inside get_rows");
			$.ajax({
        method : "POST",
        url:"{% url 'demo:get_rows' %}",
        data : {
            "name":val,
            "csrfmiddlewaretoken": '{{ csrf_token }}',
        },
        success : function(result){
					console.log("hi");
					console.log(result);
					
          text = ""
					{% comment %} for field in result.keys(){
						row = 
						'<div class="form-group">\n'+
						'	<label for="MinThreshold1">'+field+' MinThreshold</label>\n'+
						'	<input type="text" class="form-control" id="MinThreshold1" aria-describedby="emailHelp" placeholder="Enter Min. Threshold" name='+field+'_min>\n'+
						'	<small class="form-text text-muted">Set the Min Threshold value for above field</small>\n'+
						'</div>\n'+

						'<div class="form-group">\n'+
						'	<label for="MaxThreshold1">'+field+' MaxThreshold</label>\n'+
						'	<input type="text" class="form-control" id="MaxThreshold1" aria-describedby="emailHelp" placeholder="Enter Max. Threshold" name='+field+'_max>\n'+
						'	<small class="form-text text-muted">Set the Max Threshold value for above field</small>\n'+
						'</div>\n';

						text += row;
					} {% endcomment %}
					var x = document.getElementById('n_fields');
					x.innerHTML = text;
				}
    	});

		}
	</script>