{% extends 'power/base.html' %}

{% block title %}dashboard{% endblock title %}

{% block body %}
{% if message %}
{% if type %}
<div id="alert" style="position: fixed;right: 20px;top: 40px;" class="alert alert-success" role="alert">
  {{message}}
</div>
{% else %}
<div id="alert" style="position: fixed;right: 20px;top: 40px;" class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endif %}
{% endif %}
<div id="my-alert" style="position: fixed;right: 20px;top: 40px;" class="alert alert-danger" role="alert"></div>
<div class="content-wrapper">
<div id="edit_profile" class="container">
    <div class="row pt-4">
        
        <div class="col-md-6">
            <div class="row">
                <h3 class="ml-3 mb-3">Edit Your Profile</h3>
                <div class="container">
                    <form onsubmit="return checking()" action="{% url 'power:edit_profile' %}" method="post">
                        {% csrf_token %}
                        <div class='form-group row'>
                            <label for='name' class='col-md-3 col-form-label'>Full Name</label>
                            <div class='col-md-9'>
                                <input type='text' class='form-control' id='name' name='name'
                                    placeholder='Your Full Name' value="{{name}}">
                            </div>
                        </div>
                        {% comment %} <div class='form-group row'>
                            <label for='lastname' class='col-md-3 col-form-label'>Last Name</label>
                            <div class='col-md-9'>
                                <input type='text' class='form-control' id='lastname' name='lastname'
                                    placeholder='Your Last Name'>
                            </div>
                        </div> {% endcomment %}
                        <div class='form-group row'>
                            <label for='mobileno' class='col-12 col-md-3 col-form-label'>Mobile Number</label>
                            <div class='col-5 col-md-9'>
                                <input type='tel' class='form-control' id='mobileno' name='mobileno'
                                    placeholder='Your Mobile No' value="{{mob}}">
                            </div>
                        </div>
                        <div class='form-group row'>
                            <label for='aadhar' class='col-md-3 col-form-label'>Aadhar</label>
                            <div class='col-md-9'>
                                <input type='text' class='form-control' id='aadhar' name='aadhar'
                                    placeholder='12 digit Aadhar No.' value="{{aadhar}}">
                            </div>
                        </div>
                        <div class='form-group row'>
                            <label for='emailid' class='col-md-3 col-form-label'>Email</label>
                            <div class='col-md-9'>
                                <input type='email' class='form-control' id='email' name='email'
                                    placeholder='Your Email' value="{{email}}">
                            </div>
                        </div>
                        <!-- <div class='form-group row'>
                            <label for='aadhar' class='col-md-2 col-form-label'>Aadhar No.</label>
                            <div class='col-md-10'>
                                <p>Show Aadhar no here</p>
                            </div>
                        </div> -->
                        
                        <div class='form-group row'>
                            <button type="submit" class="btn btn-primary my-btn ml-3"><i class="fas fa-chevron-right"></i></button>
                            <button data-toggle="modal" data-target="#changepasswordmodal" type='button' class='btn my-btn3 ml-3' id='changepass'>Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

</div>
</div>

<script type="text/javascript">
    $("#alert").fadeOut(3000);
    $("#my-alert").fadeOut(1);

    name="true";
    mobile=true;
    aadhar=true;
    $("#name").change(function(){
        val = $("#name").val();
        if(val.length!=0) {
            name = /^[a-z A-Z]+$/.test(val);
            if(name=="false") {
                $("#my-alert").fadeIn(1);
                $("#my-alert").fadeOut(5000);
                document.getElementById('my-alert').innerHTML = "Name should only contains Alphabets";
            }
        }
    });
    $("#mobileno").change(function(){
        mobile = /^\d+$/.test($("#mobileno").val());
        if(mobile==false) {
            $("#my-alert").fadeIn(1);
            $("#my-alert").fadeOut(5000);
            document.getElementById('my-alert').innerHTML = "Mobile Number should only contains Numeric Letter";
        }

        val = $("#mobileno").val();
        len = val.length;
        if(len>10) {
            mobile=false;
            $("#my-alert").fadeIn(1);
            $("#my-alert").fadeOut(5000);
            document.getElementById('my-alert').innerHTML = "Mobile Number should contains less than 10 Digits";
        }
    });

    $("#aadhar").change(function(){
        val = $("#aadhar").val();
        len = val.length;
        if(len!=12) {
            aadhar=false;
            $("#my-alert").fadeIn(1);
            $("#my-alert").fadeOut(5000);
            document.getElementById('my-alert').innerHTML = "Aadhar Number should contains 12 Digits";
        }
    });

    function checking(){
        if(name=="false" || !aadhar || !mobile)
        return false;
    else return true;
    }
</script>




{% endblock body %}

{% block custom_header %}
    <li class="nav-item">
        <a class="nav-link active" href="#">Edit Profile</a>
    </li>
{% endblock custom_header %}

{% block custom_header_right %}

{% if request.session.is_user %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'power:user_dash' %}">{{request.session.name}} <span class="sr-only">(current)</span></a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'power:govt_dash' %}">{{request.session.name}} <span class="sr-only">(current)</span></a>
</li>
{% endif %}

<li class="nav-item dropdown user-icon">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a href="{% url 'power:edit_profile' %}" class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'power:logout' %}"class="dropdown-item">Logout</a>
    </div>
</li>
<li><i class="fas fa-caret-down pt-3 pl-2"></i></li>

{% endblock custom_header_right %}