{% extends 'power/base.html' %}

{% block title %}dashboard{% endblock title %}



{% block body %}
<script>
function search(val){
    $.ajax({
        method : "POST",
        url:"{% url 'power:search' %}",
        data : {
            "search":val,
            "sector":"{{sector}}",
            "state":"{{state}}",
            "csrfmiddlewaretoken": '{{ csrf_token }}',
        },
        success : function(result){
            {% comment %} console.log(result); {% endcomment %}
            
            var x = document.getElementById("tbody1");
            var i=0;
            text="";
            for(; i<result.length; i++){
                
                row =   "<tr>\n"+
                        "    <th>"+(i+1)+"</th>\n"+
                        "    <td>"+result[i]['name']+"</td>\n"+
                        "    <td>"+result[i]['sector']+"</td>\n"+
                        "    <td>"+result[i]['state']+"</td>\n"+
                        "    <td>"+"28 July, 2012"+"</td>\n"+
                        '    <td><a target="__blank" class="my-btn2" href="/power/get_data/'+result[i].id+'/">See Details</a></td>\n'+
                        "</tr>\n";
                text +=row;
            }
                
            x.innerHTML = text;
            {% comment %} console.log(result); {% endcomment %}
        }
    });
}
</script>
<style type="text/css" link="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></style>




{% if message %}
{% if type %}
<div id="alert" style="position: fixed;right: 20px;top: 40px;" class="alert alert-success" role="alert">
  {{message}}
</div>
{% else %}
<div id="alert" style="position: fixed;right: 20px;top: 40px;" class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endif %}
{% endif %}
<style type="text/css">
    .fa-bell{
        font-size: 120px;
    }
    a{
        color: rgb(50,50,50);
    }
    a:hover{
        color: rgb(50,50,50);
    }
    p{
        margin: 2px;
    }
</style>
<div class="content-wrapper">
<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-md-12">
            <div class="container-fluid">
                
                <div class="row">

                    <div class="col-md-4 offset-md-4 p-3 text-center">
    					<div class="card text-center p-2" style="height: 340px;">
                         <i class="far fa-bell"></i>
                          <div style="padding: 0px;" class="card-body">
                            <h6 class="card-title mt-3">{{alert.name}}</h6>
                            {% if alert.attr %}
                            <p><b>Type : </b>Power Drawl</p>
                            <p><b>Monitoring : </b>{{alert.key}}</p>
                            <p><b>Average Value : </b>{{alert.avgvalue}}</p>
                            <p><b>{{alert.minmattr}} : </b>{{alert.minmvalue}}</p>
                            <p><b>Start Time : </b>{{alert.starttime}}</p>
                            <p><b>End Time : </b>{{alert.endtime}}</p>
                            {% else %}
                            <p><b>Type : </b>Frequency</p>
                            <p><b>Average Value : </b>{{alert.avgvalue}}</p>
                            <p><b>Minm Value : </b>{{alert.minmvalue}}</p>
                            <p><b>Maxm Value : </b>{{alert.maxmvalue}}</p>
                            <p><b>Start Time : </b>{{alert.starttime}}</p>
                            <p><b>End Time : </b>{{alert.endtime}}</p>
                            {% endif %}
                          </div>
                        </div>
                        <a class="btn btn-lg about-us-btn mt-3" href="/power/user_dash" role="button">MAIL ME</a><a class="btn btn-lg about-us-btn mt-3 ml-3" href="/power/alert" role="button">GO BACK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
</div>


{% endblock body %}

{% block custom_header %}
    <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'power:add_board' %}">Add</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'power:view_board' %}">View</a>
    </li> -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'power:edit_profile' %}">Edit Profile</a>
    </li> -->
{% endblock custom_header %}

{% block custom_header_right %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'power:user_dash' %}">{{request.session.name}}<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item dropdown user-icon">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><i class="fas fa-user"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a href="{% url 'power:edit_profile' %}" class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'power:logout' %}"class="dropdown-item">Logout</a>
    </div>
</li>
<li><i class="fas fa-caret-down pt-3 pl-2"></i></li>

{% endblock custom_header_right %}

{% block apply_filter %}

<!-- Apply Filter Modal -->
<div class="modal fade" id="filtermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">APPLY FILTER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'power:user_dash' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label style="padding: 0px;" for="state" class="col-12"><h4>State</h4></label>
                <select name="state" id="state" class="form-control" value="all">
                    <option id="all_st" value="all">All States</option>
                    {% for state in all_states %}
                        <option id="{{state}}" value="{{state}}">{{state}}</option>
                    {% endfor %}
                    
                </select>
                <!-- <select name="state" id="state" class="form-control">
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chattisgarh">Chattisgarh</option>
                    <option value="Goa">Goa</option>
                </select> -->
            </div>
            <div class="form-group">
                <label style="padding: 0px;" for="sector" class="col-12"><h4>Sector</h4></label>
                <select name="sector" id="sector" class="form-control" value="555">
                    <option id="555" value="555">All Sectors</option>
                    {% for sector in all_sectors %}
                        <option id="{{sector.id}}" value="{{sector.id}}">{{sector.name}}</option>
                    {% endfor %}
                </select>
                <!-- <select name="sector" id="sector" class="form-control">
                    <option value="Coal">Coal</option>
                    <option value="Electricity">Electricity</option>
                    <option value="Petroleum">Petroleum</option>
                </select> -->
            </div>
            <button type="submit" class="btn btn-primary my-btn"><i class="fas fa-chevron-right"></i></button>
        </form>
        <p class="mt-3">
          Unable to find your board?
          <a href="#" data-toggle="modal" data-target="#contactmodal" data-dismiss="modal">Email US</a>
      </p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
<script type="text/javascript">
  $("#alert").fadeOut(3000);
  var state="";
  var sector="";
  window.onload = function() {
    state = "{{state}}";
    sector = "{{sector}}";
    document.getElementById("state").value = state;
    document.getElementById("sector").value = sector;
  }
</script>

{% endblock apply_filter %}