{% extends 'power/base.html' %}

{% block title %}dashboard{% endblock title %}



{% block body %}
<div class="content-wrapper">
<div class="container pt-5">
    <div class='row'>
        <div class="col-md-2 sidenav">
            <h4>Sidebar.</h4>
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'power:add_board' %}">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'power:view_board' %}">View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'power:edit_profile' %}">Edit Profile</a>
                </li>
            </ul>
        </div>
        <div class='col-lg-4 offset-2'>
            <form>
                <div class="form-group">
                    <label for="domain">Domain</label>
                    <select class="form-control" id="domain">
                        <option>Electricity</option>
                        <option>Coal</option>
                        <option>Petroleum</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="board">Board</label>
                    <select class="form-control" id="board">
                        <option>MP Board Electricity</option>
                        <option>CESC</option>
                    </select>
                </div>
                
                
                <div class="form-group">
                    <label for="scrap_url">Url of Regulatory Info Page</label>
                    <input type="url" class="form-control" id="scrap_url" placeholder="www.indanegas.com/regulatory_info">
                    <span id="newurl">&nbsp;</span>
                    <input type="button" value="+" class="btn btn-sm btn-outline-secondary mt-1 ml-auto" onclick="add()"/>
                </div>
                <button type="submit" class="btn btn-primary">Add Board</button>
            </form>
        </div>
    </div>
</div>
</div>
<SCRIPT language="javascript">
    function add() {
    
        //Create an input type dynamically.
        var element = document.createElement("input");
    
        //Assign different attributes to the element.
        element.setAttribute("type", "url");
        element.setAttribute("placeholder","Enter the url");
        element.setAttribute("class", "form-control mt-1 mr-1");
        // element.setAttribute("name", );
    
    
        var foo = document.getElementById("newurl");
    
        //Append the element in page (in span).
        foo.appendChild(element);
    
    }
    </SCRIPT>
{% endblock body %}

{% block custom_header %}    

{% endblock custom_header %}

{% block custom_header_right %}
    <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
    </li>
{% endblock custom_header_right %}
